<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="../scripts/feedback.js" defer></script>
</head>

<body>
    <button id="btn-feedback" class="btn-feedback button is-primary">Open</button>


    <div class="modal">
        <div class="modal-background hides-modal"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Help us improve</p>
                <button class="delete hides-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Name Start -->
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control has-icons-left">
                        <input class="input is-success" type="text" placeholder="Your Name">
                        <div class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                    <p class="help is-success is-hidden">This username is available</p>
                </div>
                <!-- Name End -->
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success is-pulled-right">Send</button>
                <button class="button is-danger is-pulled-right hides-modal">Cancel</button>
            </footer>
        </div>
    </div>



</body>

</html>